<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="author" content="{{ site.author.name }}">

    <meta property="fb:app_id" content="{{ site.JB.comments.facebook.appid }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:image" content="{{ site.production_url }}{{ page.image }}" />
    <script>
    {{ page.theme.name }}
    {{ page.theme }}
    {{ page.image }}
{{ site.production_url }}
    </script>
    <link href='/assets/themes/the-minimum/css/style.css' rel="stylesheet" media="all">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
</head>
<body>
<div id="page" class="hentry">
    <header class="the-header">
        <div class="unit-head">
            <div class="unit-inner unit-head-inner">
                <p class="logo">
                    <a href="{{ HOME_PATH }}">
                        <span class='sec-03-a'>{{ site.name.first }}</span>
                        <span class='sec-03-b'>{{ site.name.last }}</span>
                    </a>
                </p>
                <nav class="nav-global">
                    <ul>
                        <li class="sec-01-a archive"><a href="/archive.html">archive</a></li>
                        <li class="sec-01-b page"><a href="/pages.html">pages</a></li>
                        <li class="sec-01-a category"><a href="/categories.html">categories</a></li>
                        <li class="sec-01-b tag"><a href="/tags.html">tags</a></li>
                        <li class="sec-01-b tag"><a href="/projects.html">projects</a></li>
                    </ul>
                </nav>
            </div><!-- unit-inner -->
        </div><!-- unit-head -->
    </header>

  <div class="body" role="main">
        <div class="unit-body">
            <div class="unit-inner unit-body-inner">
                <div class="entry-content">
                    {{ content }}
                </div>
            </div><!-- unit-inner -->
        </div><!-- unit-body -->
    </div><!-- body -->

    <footer class="the-footer">
        <div class="unit-foot">
            <div class="unit-inner unit-foot-inner">
                <div class="misc vcard">
                    <h4>More about me @</h4>
                    <ul>
                        <li class="github"><a href="http://github.com/{{ site.author.github }}/" rel="me">github/{{ site.author.github }}</a></li>
                        <li class="facebook"><a href="http://facebook.com/{{ site.author.facebook }}/" rel="me">facebook/{{ site.author.facebook }}</a></li>
                        <li class="linkedin"><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" rel="me">linkedin/{{ site.author.linkedin }}</a></li>
                        <li class="twitter"><a href="http://twitter.com/{{ site.author.twitter }}/" rel="me">twitter/{{ site.author.twitter }}</a></li>
                        <li class="contact"><address><span class="fn email">{{ site.author.email }}</span></address></li>
                        <li>
                            <a href="http://stackexchange.com/users/2363558">
                            <img
                                src="http://stackexchange.com/users/flair/2363558.png"
                                width="208"
                                height="58"
                                alt="profile for Prashant on Stack Exchange, a network of free, community-driven Q&amp;A sites"
                                title="profile for Prashant on Stack Exchange, a network of free, community-driven Q&amp;A sites">
                            </a>
                        </li>
                    </ul>
                </div><!-- misc -->
                <div class="misc vcard">
                    <h4>Credits</h4>
                    <p class="licence">
                        Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a><br>
                        Based on <a href="http://jekyllbootstrap.com/">Jekyll-bootstrap</a><br>
                        With modifications to <a href="https://github.com/jekyllbootstrap/theme-the-minimum">the_minimum</a><br>
                    </p>
                </div><!-- misc -->
            </div><!-- unit-foot-inner -->
        </div><!-- unit-foot -->
    </footer>

</div><!-- page -->

<script>
/*! A fix for the iOS orientationchange zoom bug.Script by @scottjehl, rebound by @wilto. MIT License.*/
(function(j){var i=j.document;if(!i.querySelectorAll){return}var l=i.querySelectorAll("meta[name=viewport]")[0],a=l&&l.getAttribute("content"),h=a+", maximum-scale=1.0",d=a+", maximum-scale=10.0",g=true,c=j.orientation,k=0;if(!l){return}function f(){l.setAttribute("content",d);g=true}function b(){l.setAttribute("content",h);g=false}function e(m){c=Math.abs(j.orientation);k=Math.abs(m.gamma);if(k>8&&c===0){if(g){b()}}else{if(!g){f()}}}j.addEventListener("orientationchange",f,false);j.addEventListener("deviceorientation",e,false)})(this);
</script>

  {% include JB/analytics %}

</body>
</html>
