//colors
$white: #ffffff;
$color_nandor_approx: #555d50;
$color_gravel_approx: #474747;
$concrete: #f2f2f2;
$color_tuatara_approx: #393939;
$black_30: rgba(0, 0, 0, 0.3);
$white_60: rgba(255, 255, 255, 0.6);
$color_conifer_approx: #bada55;
$color_granny_smith_apple_approx: #99cc99;
$color_de_york_approx: #77bb77;
$color_surf_approx: #bbddbb;
$color_aztec_80_approx: rgba(21, 25, 25, 0.8);
$color_celeste_approx: #ccc;
$color_desert_storm_approx: #f8f8f8;
$color_tan_hide_approx: #f99157;
$color_trinidad_approx: #e25608;
$color_emperor_approx: #4d4d4d;
$color_feta_approx: #f0fff0;
$color_mountain_mist_approx: #999999;
$black_40: rgba(0, 0, 0, 0.4);
$white_40: rgba(255, 255, 255, 0.4);
$color_hippie_green_approx: #448844;
$black_20: rgba(0, 0, 0, 0.2);
$black_60: rgba(0, 0, 0, 0.6);
$color_tom_thumb_approx: #336633;
$color_bon_jour_approx: #e1e1e1;
$color_rangoon_green_approx: #1a1a1a;
$alabaster_80: rgba(250, 250, 250, 0.8);
$color_celery_approx: #a7c44c;

//fonts
$font_0: junctionregularRegular;
$font_1: Frutiger;
$font_2: Frutiger Linotype;
$font_3: Univers;
$font_4: Calibri;
$font_5: Gill Sans;
$font_6: Gill Sans MT;
$font_7: Myriad Pro;
$font_8: Myriad;
$font_9: DejaVu Sans Condensed;
$font_10: Liberation Sans;
$font_11: Nimbus Sans L;
$font_12: Tahoma;
$font_13: Geneva;
$font_14: Helvetica Neue;
$font_15: Helvetica;
$font_16: Arial;
$font_17: MS PGothic;
$font_18: Osaka;
$font_19: Sans-Serif;
$font_20: Bitstream Vera Sans Mono;
$font_21: Courier New;
$font_22: Courier;
$font_23: monospace;

//@extend-elements
//original selectors
//h1, .h1
%extend_1 {
    font-size: 42px;
    line-height: 52px;
    margin-top: 52px;
    margin-bottom: 26px;
    letter-spacing: -1px;
}

//original selectors
//h2, .h2
%extend_2 {
    font-size: 42px;
    line-height: 52px;
    margin-top: 52px;
    margin-bottom: 26px;
    letter-spacing: -1px;
}

//original selectors
//h3, .h3
%extend_3 {
    font-size: 26px;
    line-height: 26px;
    margin-top: 26px;
    margin-bottom: 26px;
}

//original selectors
//h4, .h4
%extend_4 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 26px;
    margin-bottom: 26px;
}

//original selectors
//.unit-article p code, .unit-article li code
%extend_5 {
    margin: 0 2px;
    padding: 2px 5px;
    white-space: nowrap;
    border: 1px solid #CCC;
    background-color: #F8F8F8;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 3px;
    //Instead of the line below you could use @includebackground-clip($clip)
    background-clip: padding-box;
}

//original selectors
//.unit-article .list-category span, .unit-article .list-tag span
%extend_6 {
    background-color: $color_trinidad_approx;
    padding: 1px 5px;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 10px;
    color: $white;
    text-transform: uppercase;
    margin: 0 6px 0 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: -2px;
    font-weight: bold;
    font-size: 10px;
}

//original selectors
//.unit-article .unit-head-inner, .unit-article .entry-content, .unit-article .misc-content, .unit-article .unit-foot-inner
%extend_7 {
    width: 15em;
    margin-left: auto;
    margin-right: auto;
}

//original selectors
//.ie .unit-article .unit-head-inner, .ie .unit-article .entry-content, .ie .unit-article .misc-content, .ie .unit-article .unit-foot-inner
%extend_8 {
    width: 60em;
    margin-left: auto;
    margin-right: auto;
}


@import "base.css";
@import "module.css";
@import "syntaxhighlighter.css";
@import "helper.css";
body {
    font-family: $font_1, $font_2, $font_3, $font_4, $font_5, $font_6, $font_7, $font_8, $font_9, $font_10, $font_11, $font_12, $font_13, $font_14, $font_15, $font_16, $font_17, $font_18, $font_19;
    font-size: 1em;
    line-height: 1.625em;
}
h1 {
    font-family: $font_0, $font_2, $font_3, $font_4, $font_5, $font_6, $font_7, $font_8, $font_9, $font_10, $font_11, $font_12, $font_13, $font_14, $font_15, $font_16, $font_17, $font_18, $font_19;
    font-weight: bold;
    @extend %extend_1;
}
h2 {
    font-family: $font_0, $font_2, $font_3, $font_4, $font_5, $font_6, $font_7, $font_8, $font_9, $font_10, $font_11, $font_12, $font_13, $font_14, $font_15, $font_16, $font_17, $font_18, $font_19;
    font-weight: bold;
    @extend %extend_2;
}
h3 {
    font-family: $font_0, $font_2, $font_3, $font_4, $font_5, $font_6, $font_7, $font_8, $font_9, $font_10, $font_11, $font_12, $font_13, $font_14, $font_15, $font_16, $font_17, $font_18, $font_19;
    font-weight: bold;
    @extend %extend_3;
}
h4 {
    font-family: $font_0, $font_2, $font_3, $font_4, $font_5, $font_6, $font_7, $font_8, $font_9, $font_10, $font_11, $font_12, $font_13, $font_14, $font_15, $font_16, $font_17, $font_18, $font_19;
    font-weight: bold;
    @extend %extend_4;
}
h5 {
    font-family: $font_0, $font_2, $font_3, $font_4, $font_5, $font_6, $font_7, $font_8, $font_9, $font_10, $font_11, $font_12, $font_13, $font_14, $font_15, $font_16, $font_17, $font_18, $font_19;
    font-weight: bold;
}
h6 {
    font-family: $font_0, $font_2, $font_3, $font_4, $font_5, $font_6, $font_7, $font_8, $font_9, $font_10, $font_11, $font_12, $font_13, $font_14, $font_15, $font_16, $font_17, $font_18, $font_19;
    font-weight: bold;
}
.h1 {
    @extend %extend_1;
}
.h2 {
    @extend %extend_2;
}
.h3 {
    @extend %extend_3;
}
.h4 {
    @extend %extend_4;
}
p {
    margin-top: 0;
    margin-bottom: 1.625em;
}
ul {
    margin-top: 0;
    margin-bottom: 1.625em;
}
ol {
    margin-top: 0;
    margin-bottom: 1.625em;
}
dl {
    margin-top: 0;
    margin-bottom: 1.625em;
}
img {
    margin-top: 0;
    margin-bottom: 1.625em;
}
small {
    font-size: 0.75em;
}
.small {
    font-size: 0.75em;
}
aside {
    font-size: 0.75em;
}
.font-size-default {
    font-size: 1em;
}
blockquote {
    font-weight: bold;
    cite {
        font-weight: normal;
    }
}
strong {
    font-weight: bold;
}
em {
    font-weight: bold;
}
@font-face {
    font-family: $font_0;
    src: url('/assets/themes/the-minimum/font/Junction-webfont.eot');
    src: url('/assets/themes/the-minimum/font/Junction-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/themes/the-minimum/font/Junction-webfont.woff') format('woff'), url('/assets/themes/the-minimum/font/Junction-webfont.ttf') format('truetype'), url('/assets/themes/the-minimum/font/Junction-webfont.svg#junctionregularRegular') format('svg');
    font-weight: normal !important;
    font-style: normal;
}
html {
    background-color: $white;
    color: #555D50;
}
a {
    &:link {
        color: #555D50;
        text-decoration: none;
    }
    &:visited {
        color: #555D50;
        text-decoration: none;
    }
    &:hover {
        color: $color_gravel_approx;
        text-decoration: none;
    }
}
pre {
    margin-bottom: 1.625em;
    color: $concrete;
    background-color: $color_tuatara_approx;
    border: 1px solid $color_tuatara_approx;
    font-family: $font_20, $font_21, $font_22, $font_23;
    margin-left: 0;
    margin-right: 0;
    padding: 1.625em;
    overflow: auto;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: inset 0 1px 2px $black_30, 0 1px 0 $white_60;
}
.the-header {
    .logo {
        font-family: $font_0, $font_2, $font_3, $font_4, $font_5, $font_6, $font_7, $font_8, $font_9, $font_10, $font_11, $font_12, $font_13, $font_14, $font_15, $font_16, $font_17, $font_18, $font_19;
        margin: 0;
        a:visited {
            color: #555D50;
        }
    }
    .nav-global {
        text-transform: uppercase;
        .forkme {
            position: relative;
            top: 2px;
        }
    }
    .unit-inner {
        width: 15em;
        margin-top: 1.625em;
        margin-bottom: 1.625em;
        margin-left: auto;
        margin-right: auto;
    }
}
.unit-article {
    header {
        background: url('/assets/themes/the-minimum/skin/100-90-5-monochrome.png');
        background-repeat: repeat;
        background-position: 0 0;
        background-color: #BADA55;
        margin-bottom: 1.625em;
        padding-top: 1.625em;
        padding-bottom: 1.625em;
        h1 {
            color: #555D50;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .entry-content {
        @extend %extend_7;
        h2 {
            color: #555D50;
            a {
                &:link {
                    color: #555D50;
                    border: 0;
                }
                &:visited {
                    color: #555D50;
                    border: 0;
                }
                &:hover {
                    color: $color_gravel_approx;
                    border: 0;
                }
            }
        }
        h3 {
            color: #555D50;
            a {
                &:link {
                    color: #555D50;
                    border: 0;
                }
                &:visited {
                    color: #555D50;
                    border: 0;
                }
                &:hover {
                    color: $color_gravel_approx;
                    border: 0;
                }
            }
        }
        h4 {
            color: #555D50;
            a {
                &:link {
                    color: #555D50;
                    border: 0;
                }
                &:visited {
                    color: #555D50;
                    border: 0;
                }
                &:hover {
                    color: $color_gravel_approx;
                    border: 0;
                }
            }
        }
        h5 {
            color: #555D50;
            a {
                &:link {
                    color: #555D50;
                    border: 0;
                }
                &:visited {
                    color: #555D50;
                    border: 0;
                }
                &:hover {
                    color: $color_gravel_approx;
                    border: 0;
                }
            }
        }
        h6 {
            color: #555D50;
            a {
                &:link {
                    color: #555D50;
                    border: 0;
                }
                &:visited {
                    color: #555D50;
                    border: 0;
                }
                &:hover {
                    color: $color_gravel_approx;
                    border: 0;
                }
            }
        }
        &:first-child {
            h2 {
                margin-top: 0;
            }
            h3 {
                margin-top: 0;
            }
            h4 {
                margin-top: 0;
            }
            h5 {
                margin-top: 0;
            }
            h6 {
                margin-top: 0;
            }
        }
    }
    a {
        &:link {
            border-bottom: 1px dotted $color_granny_smith_apple_approx;
        }
        &:visited {
            border-bottom: 1px dotted $color_de_york_approx;
        }
        &:hover {
            border-bottom: 1px dotted $color_surf_approx;
        }
    }
    blockquote {
        border-left: 1em solid $color_aztec_80_approx;
        padding-left: 1em;
        p {
            margin-left: 0;
            margin-right: 0;
        }
    }
    ul {
        padding-left: 0;
        list-style: square;
    }
    ol {
        padding-left: 0;
        list-style: decimal;
    }
    dl {
        padding-left: 0;
    }
    li {
        h1 {
            margin-left: 0;
            margin-right: 0;
        }
        h2 {
            margin-left: 0;
            margin-right: 0;
        }
        h3 {
            margin-left: 0;
            margin-right: 0;
        }
        h4 {
            margin-left: 0;
            margin-right: 0;
        }
        h5 {
            margin-left: 0;
            margin-right: 0;
        }
        p {
            margin-left: 0;
            margin-right: 0;
        }
        ul {
            margin-left: 0;
            margin-right: 0;
        }
        ol {
            margin-left: 0;
            margin-right: 0;
        }
        dl {
            margin-left: 0;
            margin-right: 0;
        }
        blockquote {
            margin-left: 0;
            margin-right: 0;
        }
        .hasGrid {
            margin-left: 0;
            margin-right: 0;
        }
        code {
            @extend %extend_5;
        }
    }
    dt {
        h1 {
            margin-left: 0;
            margin-right: 0;
        }
        h2 {
            margin-left: 0;
            margin-right: 0;
        }
        h3 {
            margin-left: 0;
            margin-right: 0;
        }
        h4 {
            margin-left: 0;
            margin-right: 0;
        }
        h5 {
            margin-left: 0;
            margin-right: 0;
        }
        p {
            margin-left: 0;
            margin-right: 0;
        }
        ul {
            margin-left: 0;
            margin-right: 0;
        }
        ol {
            margin-left: 0;
            margin-right: 0;
        }
        dl {
            margin-left: 0;
            margin-right: 0;
        }
        blockquote {
            margin-left: 0;
            margin-right: 0;
        }
        .hasGrid {
            margin-left: 0;
            margin-right: 0;
        }
    }
    dd {
        h1 {
            margin-left: 0;
            margin-right: 0;
        }
        h2 {
            margin-left: 0;
            margin-right: 0;
        }
        h3 {
            margin-left: 0;
            margin-right: 0;
        }
        h4 {
            margin-left: 0;
            margin-right: 0;
        }
        h5 {
            margin-left: 0;
            margin-right: 0;
        }
        p {
            margin-left: 0;
            margin-right: 0;
        }
        ul {
            margin-left: 0;
            margin-right: 0;
        }
        ol {
            margin-left: 0;
            margin-right: 0;
        }
        dl {
            margin-left: 0;
            margin-right: 0;
        }
        blockquote {
            margin-left: 0;
            margin-right: 0;
        }
        .hasGrid {
            margin-left: 0;
            margin-right: 0;
        }
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        &.left {
            margin-right: 16px;
        }
        &.right {
            margin-left: 16px;
        }
    }
    .date-publish {
        margin-bottom: 0;
    }
    .list-category {
        margin-bottom: 0;
        text-transform: capitalize;
        a {
            border: 0 none;
            &:hover span {
                background-color: $color_tan_hide_approx;
            }
        }
        span {
            @extend %extend_6;
        }
    }
    .list-tag {
        text-transform: capitalize;
        a {
            border: 0 none;
            &:hover span {
                background-color: $color_tan_hide_approx;
            }
        }
        span {
            @extend %extend_6;
        }
    }
    .unit-foot {
        background: url('/assets/themes/the-minimum/skin/100-90-5-monochrome.png') repeat 0 0 $color_emperor_approx;
        color: #F0FFF0;
        padding-top: 1.625em;
        padding-bottom: 1.625em;
        position: relative;
        a {
            &:link {
                color: #F0FFF0;
            }
            &:visited {
                color: #F0FFF0;
            }
            &:hover {
                color: #F0FFF0;
            }
        }
        .gotop {
            margin-bottom: 0;
        }
        nav ul {
            list-style: none;
            li {
                display: inline;
            }
        }
    }
    .unit-head-inner {
        @extend %extend_7;
        .meta {
            margin-bottom: 1.625em;
        }
    }
    .misc-content {
        @extend %extend_7;
    }
    .unit-foot-inner {
        @extend %extend_7;
    }
    p code {
        @extend %extend_5;
    }
    .list-linear .list-head {
        margin-right: 4px;
    }
}
.layout-page {
    .tag_box {
        background: url('/assets/themes/the-minimum/skin/100-90-5-monochrome.png') repeat 0 0 $color_mountain_mist_approx;
        padding: 0.8125em;
        list-style: none;
        //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
        border-radius: 3px;
        //Instead of the line below you could use @includebackground-clip($clip)
        background-clip: padding-box;
        //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: inset 0 1px 1px $black_40, 0 1px 0 $white_40;
        li {
            display: inline;
            line-height: normal;
            vertical-align: middle;
        }
        a {
            background-color: $color_granny_smith_apple_approx;
            float: left;
            border: 1px solid $color_hippie_green_approx;
            padding: 3px 6px;
            //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
            border-radius: 3px;
            margin: 5px;
            //Instead of the line below you could use @includebackground-clip($clip)
            background-clip: padding-box;
            //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            text-shadow: 0 -1px 0 $white_40;
            //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: inset 0 1px 0 $white_40, 0 1px 1px $black_20;
            //Instead of the line below you could use @includetransition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
            transition-duration: 0.2s;
            //Instead of the line below you could use @includeuser-select($select)
            user-select: none;
            &:active {
                //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: inset 0 1px 4px $black_60;
                background: $color_tom_thumb_approx;
                border: solid $color_tom_thumb_approx;
            }
            &:hover {
                background-color: $color_de_york_approx;
                border: 1px solid $color_tom_thumb_approx;
                span {
                    background-color: $color_bon_jour_approx;
                    border: 1px solid $color_de_york_approx;
                }
            }
        }
        span {
            background-color: #555D50;
            border: 1px solid $color_granny_smith_apple_approx;
            padding: 1px 5px;
            //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
            border-radius: 10px;
            color: $color_rangoon_green_approx;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            top: -2px;
            font-weight: bold;
            font-size: 10px;
            //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: inset 0 1px 0 $white_40, 0 1px 1px $black_20;
        }
    }
    .unit-body {
        .unit-body-inner {
            width: 15em;
            margin-left: auto;
            margin-right: auto;
        }
        .article-list .meta {
            margin-bottom: 1.625em;
        }
    }
}
.the-footer {
    background-color: $color_rangoon_green_approx;
    background-color: $color_aztec_80_approx;
    color: #555D50;
    color: $alabaster_80;
    padding-bottom: 1.625em;
    a {
        &:link {
            color: $color_granny_smith_apple_approx;
            border: 0;
        }
        &:visited {
            color: $color_de_york_approx;
            border: 0;
        }
        &:hover {
            color: $color_surf_approx;
            border: 0;
        }
    }
    ul {
        list-style: square;
        padding-left: 1em;
    }
    address {
        font-style: normal;
    }
    .license {
        clear: both;
        p {
            margin-bottom: 0;
        }
    }
    .unit-foot {
        width: 15em;
        margin-left: auto;
        margin-right: auto;
    }
}
.sec-01-a {
    color: #555D50;
}
.sec-01-b {
    color: #A7C44C;
}
.sec-02-a {
    color: #555D50;
}
.sec-02-b {
    color: #F0FFF0;
}
.ie {
    .the-header {
        .unit-inner {
            width: 60em;
            margin-top: 1.625em;
            margin-bottom: 1.625em;
            margin-left: auto;
            margin-right: auto;
        }
        .logo {
            width: 26.25em;
            float: left;
        }
        .nav-global {
            margin-top: 50px;
            text-align: right;
            width: 26.25em;
            float: right;
        }
    }
    .unit-article {
        .unit-head-inner {
            @extend %extend_8;
            h1 {
                margin-right: 210px;
            }
            h2 {
                margin-right: 210px;
            }
            h3 {
                margin-right: 210px;
            }
            h4 {
                margin-right: 210px;
            }
            h5 {
                margin-right: 210px;
            }
            p {
                margin-right: 210px;
            }
            ul {
                margin-right: 210px;
            }
            ol {
                margin-right: 210px;
            }
            dl {
                margin-right: 210px;
            }
            blockquote {
                margin-right: 210px;
            }
            .meta {
                width: 20.625em;
                float: right;
            }
        }
        .entry-content {
            @extend %extend_8;
            h1 {
                margin-right: 210px;
            }
            h2 {
                margin-right: 210px;
            }
            h3 {
                margin-right: 210px;
            }
            h4 {
                margin-right: 210px;
            }
            h5 {
                margin-right: 210px;
            }
            p {
                margin-right: 210px;
            }
            ul {
                margin-right: 210px;
            }
            ol {
                margin-right: 210px;
            }
            dl {
                margin-right: 210px;
            }
            blockquote {
                margin-right: 210px;
            }
        }
        .misc-content {
            @extend %extend_8;
            h1 {
                margin-right: 210px;
            }
            h2 {
                margin-right: 210px;
            }
            h3 {
                margin-right: 210px;
            }
            h4 {
                margin-right: 210px;
            }
            h5 {
                margin-right: 210px;
            }
            p {
                margin-right: 210px;
            }
            ul {
                margin-right: 210px;
            }
            ol {
                margin-right: 210px;
            }
            dl {
                margin-right: 210px;
            }
            blockquote {
                margin-right: 210px;
            }
        }
        .unit-foot-inner {
            @extend %extend_8;
        }
    }
    .layout-page .unit-body {
        .unit-body-inner {
            width: 43.125em;
            margin-left: auto;
            margin-right: auto;
        }
        .article-list {
            width: 43.125em;
            .meta {
                width: 20.625em;
                float: right;
            }
        }
    }
    .the-footer .unit-foot {
        width: 60em;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    img {
        max-width: 100%;
    }
}
@media only screen and (min-width: 480px) {
    .the-header {
        .unit-inner {
            width: 26.25em;
        }
        .nav-global {
            margin-top: 1.625em;
            letter-spacing: -0.31em;
            *letter-spacing: normal;
            word-spacing: -0.43em;
            list-style: none;
            padding-left: 0;
            li {
                display: inline-block;
                *display: inline;
                zoom: 1;
                line-height: normal;
                letter-spacing: normal;
                margin-right: 16px;
                word-spacing: normal;
                vertical-align: middle;
                &:last-child {
                    margin-right: 0;
                }
            }
            .home:after {
                margin-left: 16px;
                content: "/";
            }
        }
        .logo a {
            font-size: 42px;
            line-height: 52px;
            letter-spacing: -1px;
        }
    }
    .unit-article {
        .unit-head-inner {
            width: 26.25em;
        }
        .entry-content {
            width: 26.25em;
        }
        .misc-content {
            width: 26.25em;
        }
        .unit-foot-inner {
            width: 26.25em;
        }
        .unit-foot .gotop {
            margin-top: 1.625em;
        }
    }
    .layout-page .unit-body {
        .unit-body-inner {
            width: 26.25em;
        }
        .article-list {
            width: 26.25em;
        }
    }
    .the-footer .unit-foot {
        width: 26.25em;
    }
}
@media only screen and (min-width: 768px) {
    .unit-article {
        .unit-head-inner {
            width: 43.125em;
            .meta {
                margin-bottom: 0;
                text-align: right;
                width: 20.625em;
                float: right;
            }
        }
        .entry-content {
            width: 43.125em;
        }
        .misc-content {
            width: 43.125em;
        }
        .unit-foot-inner {
            width: 43.125em;
        }
    }
    .the-header .unit-inner {
        width: 43.125em;
    }
    .layout-page .unit-body {
        .unit-body-inner {
            width: 43.125em;
        }
        .article-list {
            width: 43.125em;
            .meta {
                margin-bottom: 0;
                text-align: right;
                width: 20.625em;
                float: right;
            }
        }
    }
    .the-footer .unit-foot {
        width: 43.125em;
    }
}
@media only screen and (min-width: 1280px) {
    .the-header {
        .unit-inner {
            width: 60em;
        }
        .logo {
            width: 26.25em;
            float: left;
        }
        .nav-global {
            margin-top: 21px;
            text-align: right;
            width: 26.25em;
            float: right;
        }
    }
    .unit-article {
        .unit-head-inner {
            width: 43.125em;
        }
        .entry-content {
            width: 43.125em;
        }
        .misc-content {
            width: 43.125em;
        }
        .unit-foot-inner {
            width: 43.125em;
        }
        .unit-foot {
            .pagination {
                float: left;
                width: 37.5em;
            }
            .gotop {
                float: right;
                margin-top: 0;
                text-align: right;
                width: 20.625em;
            }
        }
    }
    .layout-page .unit-body {
        .unit-body-inner {
            width: 43.125em;
        }
        .article-list {
            width: 43.125em;
            .meta {
                width: 20.625em;
            }
        }
    }
    .the-footer .unit-foot {
        width: 60em;
    }
}
@media only screen and (min-width: 1410px) {
    .the-header {
        .unit-inner {
            width: 88.125em;
        }
        .logo {
            width: 43.125em;
        }
        .nav-global {
            width: 43.125em;
        }
    }
    .unit-article {
        .unit-head-inner {
            width: 43.125em;
        }
        .entry-content {
            width: 43.125em;
        }
        .misc-content {
            width: 43.125em;
        }
        .unit-foot-inner {
            width: 88.125em;
        }
        .unit-foot {
            .pagination {
                width: 54.375em;
            }
            .gotop {
                padding-right: 360px;
                width: 9.375em;
            }
        }
    }
    .the-footer {
        .unit-foot {
            width: 88.125em;
        }
        .unit-inner {
            h1 {
                margin-left: 360px;
                margin-right: 360px;
            }
            h2 {
                margin-left: 360px;
                margin-right: 360px;
            }
            h3 {
                margin-left: 360px;
                margin-right: 360px;
            }
            h4 {
                margin-left: 360px;
                margin-right: 360px;
            }
            h5 {
                margin-left: 360px;
                margin-right: 360px;
            }
            p {
                margin-left: 360px;
                margin-right: 360px;
            }
            ul {
                margin-left: 360px;
                margin-right: 360px;
            }
            ol {
                margin-left: 360px;
                margin-right: 360px;
            }
            dl {
                margin-left: 360px;
                margin-right: 360px;
            }
            blockquote {
                margin-left: 360px;
                margin-right: 360px;
            }
        }
    }
    .layout-page .unit-body {
        .unit-body-inner {
            width: 43.125em;
        }
        .article-list {
            width: 43.125em;
            .meta {
                width: 20.625em;
            }
        }
    }
}
.list-linear li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: normal;
    letter-spacing: normal;
    margin-right: 16px;
    word-spacing: normal;
    vertical-align: middle;
    &:last-child {
        margin-right: 0;
    }
}
